## 1. BUSINESS UNDERSTANDING

### Agriculture plays a central role in Kenya’s economy and food security, making it essential to understand how the production of crops and livestock products has changed over time. This project seeks to analyze historical agricultural production data to identify long-term trends, variations, and key contributors to national output. By examining production quantities across different years and products, the analysis aims to answer questions such as which agricultural products have experienced sustained growth or decline and how production patterns have evolved over time.

### The insights generated from this analysis are relevant to policymakers, agricultural planners, development organizations, and agribusiness stakeholders who rely on data-driven decision-making. Understanding production trends can support better resource allocation, risk management, and strategic planning to enhance food security and economic resilience. If applied in practice, the results could help inform agricultural policies, guide investment decisions, and contribute to more sustainable and resilient agricultural systems in Kenya.

## 2. DATA UNDERSTANDING

In [49]:
import pandas as pd

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('Kenyas_Agricultural_Production.xlsx')
df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1976,1976,tonnes,10.0,E,Estimated value
1,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1977,1977,tonnes,10.0,E,Estimated value
2,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1978,1978,tonnes,10.0,E,Estimated value
3,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1979,1979,tonnes,10.0,E,Estimated value
4,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1980,1980,tonnes,10.0,E,Estimated value

In [52]:
df.tail()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
18177,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2017,2017,tonnes,10417.00,A,Official figure
18178,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2018,2018,tonnes,9610.49,A,Official figure
18179,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2019,2019,tonnes,9860.36,A,Official figure
18180,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2020,2020,tonnes,8009.16,A,Official figure
18181,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2021,2021,tonnes,7669.00,A,Official figure

In [53]:
print(df.shape)
df.columns

(18182, 14)

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [54]:
print(df.dtypes)

Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)      object
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
dtype: object

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18182 entries, 0 to 18181
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       18182 non-null  object
 1   Domain            18182 non-null  object
 2   Area Code (M49)   18182 non-null  int64
 3   Area              18182 non-null  object
 4   Element Code      18182 non-null  int64
 5   Element           18182 non-null  object
 6   Item Code (CPC)   18182 non-null  object
 7   Item              18182 non-null  object
 8   Year Code         18182 non-null  int64
 9   Year              18182 non-null  int64
 10  Unit              18182 non-null  object
 11  Value             18182 non-null  float64
 12  Flag              18182 non-null  object
 13  Flag Description  18182 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 1.9+ MB

In [56]:
df.describe()

       Area Code (M49)  Element Code     Year Code          Year         Value
count          18182.0  18182.000000  18182.000000  18182.000000  1.818200e+04
mean             404.0   5413.666538   1994.152513   1994.152513  3.257563e+05
std                0.0     96.653696     17.136119     17.136119  1.501639e+06
min              404.0   5111.000000   1961.000000   1961.000000  0.000000e+00
25%              404.0   5312.000000   1980.000000   1980.000000  2.100000e+03
50%              404.0   5419.000000   1996.000000   1996.000000  1.300000e+04
75%              404.0   5510.000000   2009.000000   2009.000000  8.505925e+04
max              404.0   5513.000000   2021.000000   2021.000000  3.602118e+07

In [57]:
df.isna().sum()

Domain Code         0
Domain              0
Area Code (M49)     0
Area                0
Element Code        0
Element             0
Item Code (CPC)     0
Item                0
Year Code           0
Year                0
Unit                0
Value               0
Flag                0
Flag Description    0
dtype: int64

In [58]:
df.duplicated().sum()

0

In [59]:
#Distinct values for key field

for col in ["Area", "Domain", "Element", "Unit", "Flag", "Flag Description"]:
    print(col, "→", df[col].dropna().unique()[:10])

Area → ['Kenya']
Domain → ['Crops and livestock products']
Element → ['Production' 'Area harvested' 'Yield' 'Stocks' 'Prod Popultn'
 'Producing Animals/Slaughtered' 'Laying' 'Yield/Carcass Weight'
 'Milk Animals']
Unit → ['tonnes' 'ha' 'hg/ha' 'No' 'hg' 'Head' '1000 Head' '100mg/An' 'No/An'
 '1000 No']
Flag → ['E' 'I' 'A' 'M' 'T']
Flag Description → ['Estimated value' 'Imputed value' 'Official figure'
 'Missing value (data cannot exist, not applicable)' 'Unofficial figure']

In [60]:
#Date range & coverage

print("Year range:", int(df["Year"].min()), "→", int(df["Year"].max()))
print("Rows by Element:\n", df["Element"].value_counts())

Year range: 1961 → 2021
Rows by Element:
 Production                       7078
Yield                            4688
Area harvested                   4171
Producing Animals/Slaughtered     920
Stocks                            541
Yield/Carcass Weight              419
Milk Animals                      244
Laying                             61
Prod Popultn                       60
Name: Element, dtype: int64

In [61]:
# Missing data snapshot

missing_pct = df.isna().mean().sort_values(ascending=False)*100
missing_pct.to_frame("missing_%").head(15)

                  missing_%
Flag Description        0.0
Flag                    0.0
Value                   0.0
Unit                    0.0
Year                    0.0
Year Code               0.0
Item                    0.0
Item Code (CPC)         0.0
Element                 0.0
Element Code            0.0
Area                    0.0
Area Code (M49)         0.0
Domain                  0.0
Domain Code             0.0

In [62]:

# check units used for Yield/Area/Production
(df.groupby(["Element", "Unit"])
      .size()
      .reset_index(name="rows")
      .sort_values("rows", ascending=False)
      .head(15))

                          Element       Unit  rows
7                      Production     tonnes  7047
0                  Area harvested         ha  4171
15                          Yield      hg/ha  4109
5   Producing Animals/Slaughtered       Head   798
14                          Yield      hg/An   427
9                          Stocks       Head   366
17           Yield/Carcass Weight      hg/An   305
2                    Milk Animals       Head   244
4   Producing Animals/Slaughtered  1000 Head   122
8                          Stocks  1000 Head   114
16           Yield/Carcass Weight    0.1g/An   114
1                          Laying  1000 Head    61
10                         Stocks         No    61
11                          Yield   100mg/An    61
13                          Yield         hg    60

## 3. DATA PREPARATION

In [63]:
#Standardize column names to lower_case

df = df.rename(columns=lambda c: (c.strip()
                                      .replace(" ", "_")
                                      .replace("(", "").replace(")", "")
                                      .replace("-", "_")
                                      .lower()))

In [64]:
# Keep only columns we need for modeling

keep_cols = ["area", "element", "item", "item_code_cpc",
             "year", "unit", "value", "flag", "flag_description"]
df = df[keep_cols].copy()

#six columnns have been dropped as they do not add value to the model

In [65]:
# Type fixes

df["year"] = pd.to_numeric(df["year"], errors="coerce").astype("Int64")
df["value"] = pd.to_numeric(df["value"], errors="coerce")

In [67]:
print (df.dtypes)

area                 object
element              object
item                 object
item_code_cpc        object
year                  Int64
unit                 object
value               float64
flag                 object
flag_description     object
dtype: object

In [68]:
# Trim strings

for col in ["area", "element", "item", "unit", "flag", "flag_description"]:
    df[col] = df[col].astype(str).str.strip()

#### FAOSTAT includes some non‑crop items (e.g., beeswax); we’ll keep rows that make sense for crop yields:

### Area harvested in ha
### Yield in hg/ha (hectograms per hectare)
### Production in tonnes
### Drop entries with Flag M (“data cannot exist”) or missing value.

In [69]:
# Kenya only (the file is already Kenya, but we keep the guard)

df = df[df["area"].str.lower() == "kenya"].copy()

In [70]:
# Filter to the three essential elements

target_elements = ["Area harvested", "Yield", "Production"]
df = df[df["element"].isin(target_elements)].copy()

In [78]:
# 4c. Unit sanity filter:

valid_units = {"Area harvested": "ha",
               "Yield": "hg/ha",
               "Production": "tonnes"}

df = df[df.apply(lambda r: valid_units.get(r["element"], None) == r["unit"], axis=1)].copy()

In [80]:
# Remove impossible / missing flags and nulls

df = df[df["flag"] != "M"]                  # drop 'Missing value (data cannot exist)'
df = df.dropna(subset=["year", "value"])

In [82]:
#We’ll keep A/E/I/T flags and derive helper indicators you can use later (e.g., to weight or filter).

flag_map = {
    "A": "official",
    "E": "estimated",
    "I": "imputed",
    "T": "unofficial"
}


df["flag_class"] = df["flag"].map(flag_map).fillna("other")
df["is_official"] = (df["flag"] == "A").astype(int)
df["is_estimated_or_imputed"] = df["flag"].isin(["E", "I"]).astype(int)

df["item"] = df["item"].str.replace(r"\s+", " ", regex=True)  # normalize spacing

### Pivot wide on element but keep flag_class as part of the row index.
### Compute yield_t_per_ha from yield_hg_per_ha (unit conversion).
### Derive missing yield when both production and area are present but yield is missing:
### yield_hg_per_ha=production_t×10,000area_harvested_ha\text{yield\_hg\_per\_ha} = \frac{\text{production\_t} \times 10{,}000}{\text{area\_harvested\_ha}}yield_hg_per_ha=area_harvested_haproduction_t×10,000​
### because 1 tonne=10,000 hg1\,\text{tonne} = 10{,}000\,\text{hg}1tonne=10,000hg.

In [96]:
# Build the panel with flag_class retained
panel_flagged = (df.pivot_table(index=["item", "year", "flag_class"],
                                columns="element",
                                values="value",
                                aggfunc="first")   # keep first if duplicates
                    .reset_index())

# Flatten & rename
panel_flagged.columns = [c[0] if isinstance(c, tuple) else c for c in panel_flagged.columns]
panel_flagged = panel_flagged.rename(columns={
    "Area harvested": "area_harvested_ha",
    "Yield": "yield_hg_per_ha",
    "Production": "production_t"
})

# Derive yield (hg/ha) if area & production exist but yield is missing
mask_derive_yield = panel_flagged["yield_hg_per_ha"].isna() & \
                    panel_flagged["production_t"].notna() & \
                    panel_flagged["area_harvested_ha"].notna() & \
                    (panel_flagged["area_harvested_ha"] > 0)

panel_flagged.loc[mask_derive_yield, "yield_hg_per_ha"] = \
    (panel_flagged.loc[mask_derive_yield, "production_t"] * 10_000) / \
    panel_flagged.loc[mask_derive_yield, "area_harvested_ha"]

# Convert hg/ha → t/ha
panel_flagged["yield_t_per_ha"] = panel_flagged["yield_hg_per_ha"] * 0.0001

# Keep rows that have at least one core signal
has_any_signal = panel_flagged[["yield_t_per_ha", "area_harvested_ha", "production_t"]].notna().any(axis=1)
panel_flagged = panel_flagged[has_any_signal].copy()

# Basic counts
print("Rows after flag-aware pivot:", len(panel_flagged))
print("Unique items:", panel_flagged["item"].nunique())
print("Year range:", int(panel_flagged["year"].min()), "→", int(panel_flagged["year"].max()))

Rows after flag-aware pivot: 8613
Unique items: 139
Year range: 1961 → 2021

In [85]:
### WE START FROM HERE No.7

# Flatten column names

panel.columns = [c[0] if isinstance(c, tuple) else c for c in panel.columns]
panel = panel.rename(columns={
    "Area harvested": "area_harvested_ha",
    "Yield": "yield_hg_per_ha",
    "Production": "production_t"})

In [86]:
# Unit conversions: hg/ha -> t/ha

panel["yield_t_per_ha"] = panel["yield_hg_per_ha"] * 0.0001

In [87]:
# Basic sanity checks
# Production ≈ area_harvested_ha × yield_t_per_ha (not exact for all crops/years, but should be close)

panel["prod_vs_area_yield_t"] = panel["area_harvested_ha"] * panel["yield_t_per_ha"]
panel["prod_gap_t"] = panel["production_t"] - panel["prod_vs_area_yield_t"]

In [89]:
# Clean impossible rows (zero/negative area or yield)

panel = panel[(panel["area_harvested_ha"] > 0) & (panel["yield_t_per_ha"] > 0)]

### Attach Flag Quality Summaries per (Item, Year)

In [91]:
# For each (item, year), keep a summary of flags (e.g., share official)

flag_summary = (df.groupby(["item", "year"])
                  .agg(
                      rows=("value", "size"),
                      official_rows=("is_official", "sum"),
                      est_or_imp_rows=("is_estimated_or_imputed", "sum")
                  )
                  .reset_index())

flag_summary["share_official"] = flag_summary["official_rows"] / flag_summary["rows"]
flag_summary["share_est_or_imp"] = flag_summary["est_or_imp_rows"] / flag_summary["rows"]

# Merge with panel
panel = panel.merge(flag_summary, on=["item", "year"], how="left")

In [93]:
panel.shape

(4109, 13)

### Handle Missing Values & Outlier Flags (Conservative)
## We flag outliers rather than dropping them outright (to avoid deleting true extremes caused by droughts, surpluses, etc.).

In [92]:
# Missing values report

missing_cols = ["area_harvested_ha", "yield_t_per_ha", "production_t"]
panel_missing = panel[missing_cols].isna().mean().sort_values(ascending=False)*100
print(panel_missing)

production_t         0.0
yield_t_per_ha       0.0
area_harvested_ha    0.0
dtype: float64

In [94]:
panel.shape

(4109, 13)

## 5. MODELING

## 6. MODEL EVALUATION

## 7. DEPLOYMENT